<section>
    <h2>HOME PAGE</h2><br><br>
    <h4>Content</h4>
    <h4>CONTENT</h4>
    <h4>CONTENT - Content</h4>

    <a href="login">Login</a>

     {{#each Users}}
        <h4>{{email}}</h4>
     {{/each}}

</section>